<div style="padding: 10px;">
  <h2>Cartas de patrocinio</h2>
  <p>Aca podra generas sus cartas y certificados para cumplir con los tramites asociados a su proyecto. Para generar el
    documento seleccione el idioma, elija el tipo de documento y finalice pulsando el link generar documento.</p>
  <div>
    <h2>A quien va dirigida</h2>
    <mat-radio-group [(ngModel)]="opcionSeleccionada" class="radio-group">
      <mat-radio-button value="1" >A quien pueda interesar</mat-radio-button>
      <mat-radio-button value="2">A esta persona</mat-radio-button>
    </mat-radio-group>
  </div>
  <div *ngIf="opcionSeleccionada==1">
    <div>
      <h2>¿En que idioma?</h2>
      <mat-radio-group class="radio-group" [(ngModel)]="idiomaSeleccionado">
        <mat-radio-button [value]="idioma" *ngFor="let idioma of idiomas">
          {{idioma}}
        </mat-radio-button>
      </mat-radio-group>
    </div>
    <div>
      <h2>¿Cual carta?</h2>
      <table mat-table [dataSource]=cartas>
        <ng-container matColumnDef="carta">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let item"> {{item}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
      </table>
    </div>
  </div>
  <div #elseBlock>
 FORMULARIO 
  </div>

</div>