<mat-toolbar>
  <mat-toolbar-row style="    background-color: white;     border-top: solid 2px gray;padding-left: 0px;">
    <div style="height: 100%;"><img src="../assets/img/logo.jpeg" style="height: 100%;width: 180px;"></div>
    <span class="example-fill-remaining-space"></span>
    <span class="span_div_superior">
      <span>Christian Mogollon Pinzon</span>
      <span>C.C 80076373</span>
    </span>
    <span class="span_div_superior">
      <span>Ingenieria de Sistemas / Systems engineering
      </span>
      <span>Universidad Distrital</span>
      <span>Bogota / Colombia</span>
      <span>COLFUTURO / PCB 7 2017 </span>
    </span>
    <span class="example-fill-remaining-space"></span>
  </mat-toolbar-row>
  <mat-toolbar-row style="  height: 30px; ">
    <div style="width: 180px;">{{jstoday}}</div>
    <div>Mi estatus: POE - Periodo Ordinario de Estudios <b>del 01 sep 2017 al 31 jul 2019 / 23 meses</b></div>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav mode="side" opened>
    <ul>
      <li><b>Acciones</b></li>
      <li><a href="">Inicio</a></li>
      <li><a href="">Estatus</a></li>
      <li><a href="">Presupuesto y giros</a></li>
      <li><a href="">Cuentas bancarias</a></li>
      <li><a href="">Cartas de patrocinio</a></li>
      <li><a href="">Certificado de deuda</a></li>
      <li><a href="">Interacciones</a></li>
      <li><b>Mi información</b></li>
      <li><a href="">Actualización de datos</a></li>
      <li><a href="">Proyecto apoyado</a></li>
      <li><a href="">Académica</a></li>
      <li><a href="">Permanecia</a></li>
      <li><a href="">Laboral</a></li>
      <li><a href="">Codeudores</a></li>
      <li><a href="">Documentos</a></li>
    </ul>

  </mat-sidenav>
  <mat-sidenav-content><app-pantalla-inicial></app-pantalla-inicial></mat-sidenav-content>
</mat-sidenav-container>

<mat-toolbar class>COLFUTURO: Fundación para el futuro de Colombia...................................Carrera 15 No.
  37-15 Bogota, Colombia</mat-toolbar>
<router-outlet></router-outlet>